.caption{
    background-color: #282A35;
    text-align: center;
    color: white;
    padding: 20px;
}
.caption-heading h1{
    font-weight: 700;
    font-size: 65px;
}
.caption-heading h2{
color: #FFC0C7;
font-size: 25px;
font-weight: 700;
text-decoration: none;
margin-bottom: 40px;
}
.features-style{
    text-align: center;
    margin: 0px;
}
.features-style ul{
    display: inline-block;
}
.features-style li{
    font-size: 20px;
    line-height: 35px;
    text-align: left;
    list-style-type: none;
}
.features-style ul li img{
    width: 20px;
    margin-right: 15px;
    vertical-align: middle;
}
hr{
    width: 99.5%;
    border: 2px solid grey;
    margin:0;

}
