.login-container {
  text-align: center;
  background-color: #D9EEE1;
  padding: 20px;
}

.sign-up {
  margin-bottom: 30px;
}

.sign-up h1 {
  color: black;
  font-size: 65px;
  font-weight: 700;
}

.sub-text {
  margin-top: 35px;
  margin-bottom: 35px;
  font-size: 20px;
  font-weight: 500;
}

.images {
  display: flex;
  justify-content: center;

}

.images img {
  max-width: 900px;
  height: auto;
  border-radius: 10px;
}
.sign-up-button{
background-color: #04aa6d;
  color: white;
  padding: 16px;
  font-weight: bold;
  font-size: 20px;
  width: 300px;
  margin: 20px auto; /* centers it horizontally */
  border-radius: 30px;
  text-align: center;
  cursor: pointer;
}
/* For tablets (max-width: 1024px) */
@media screen and (max-width: 1024px) {

  .sign-up h1 {
    font-size: 50px;
    
  }

  .sub-text {
    font-size: 18px;
    margin: 30px 10px;
  }

  .images img {
    max-width: 90%;
  }

  .sign-up-button {
    width: 250px;
    font-size: 18px;
    padding: 14px;
  }
}

/* For mobile devices (max-width: 768px) */
@media screen and (max-width: 768px) {
  .login-container {
    padding: 15px;
  }

  .sign-up h1 {
    font-size: 36px;
  }

  .sub-text {
    font-size: 16px;
    margin: 20px 10px;
  }

  .images img {
    max-width: 100%;
  }

  .sign-up-button {
    width: 90%;
    font-size: 16px;
    padding: 12px;
  }
}

