.login-container {
  text-align: center;
  background-color: #D9EEE1;
  border: 1px solid red;
  padding: 20px;
}

.sign-up {
  margin-bottom: 30px;
}

.sign-up h1 {
  color: black;
  font-size: 65px;
  font-weight: 700;
}

.sub-text {
  margin-top: 35px;
  margin-bottom: 35px;
  font-size: 20px;
  font-weight: 500;
}

.images {
  display: flex;
  justify-content: center;

}

.images img {
  max-width: 900px;
  height: auto;
  border-radius: 10px;
}
.sign-up-button{
background-color: #04aa6d;
  color: white;
  padding: 16px;
  font-weight: bold;
  font-size: 20px;
  width: 300px;
  margin: 20px auto; /* centers it horizontally */
  border-radius: 30px;
  text-align: center;
  cursor: pointer;
}