.script-container{
  max-width: 100%;
  margin: 0;
  background-color:#282A35;
  display: flex;
  justify-content: center;
  align-items: center;
}
.script {
  padding: 40px 20px;
  border-radius: 5px;
  margin-bottom: 30px;
  margin-right: 0;
  max-width: 50%;
}
.script h1 {
  font-size: 62px;
  font-weight: 700;
  color:white;
  margin-bottom: 10px;
}
.script p.subtitle {
  font-size: 20px;
  margin-bottom: 30px;
  color: white;
}
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 20px;
  flex-direction: column;
  /* just removed the 30% width that fix the issue. */
}
.button-kit {
  display: inline-flex;
  padding: 12px 24px;
  width: 160px;
  color: white;
  text-decoration: none;
  border-radius: 20px;
  font-weight: 600;
  text-align: center;
  justify-content: center;
  align-items: center;
}
/* don't use same classes on same types of properties */
.button-green {
  background-color: #04aa6d;
}
.button-black {
  background-color: black;
}
.button-pink {
  background-color: rgb(245, 178, 198);
}
.example {
  position: relative;
  border: 1px solid red;
  text-align: center;
  margin: 30px;
  border-radius: 10px;
  padding: 20px;
  background-color: #e7e9eb;
  width: 400px;
}
.example h2 {
  font-size: 24px;
  margin-bottom: 15px;
  color: black;
  text-decoration: none;
}
.example-code {
  background-color: #ffffff;
  padding: 15px;
  border-left: 4px solid #04aa6d;
  white-space: pre;
  overflow-x: auto;
  margin-bottom: 20px;
  font-size: 15px;
  text-align: left;
  
}
.html-tag{
    color:rgb(131,7,48)
}
.html-attr{
    color: #057a4f;
}
.string{
    color:rgb(82, 82, 207);
}
.keyword{
    color:#795e26;
}
.function{
    color: #000000;
}
.try {
  display: inline-flex;
  align-items: center;

  border-radius: 20px;
  padding: 8px 16px;
  font-size: 20px;
  font-weight: 100;
  background-color: #04aa6d;
  color: #ffffff;
  border: none;
  text-align: left;
}
.button-container {
  margin-left: 8px;
}